#id_actions {
    padding: 0.5em;
}

#drop-box {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 2px dashed #555;
  background-color: #eee;
  border-radius: 5px;
  margin: 0;
  padding: 0.2rem 2rem;
  width: 100%;
}

#drop-box p {
  margin: 0 0.5rem;
}

#drop-box .btn {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

#drop-box.dragover {
  background-color: #fff0;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.box-title {
  line-height: 3rem !important;
  float: left !important;
  margin-bottom: 0 !important;
}

.item-count-badge {
  font-size: 1rem;
  position: absolute;
  margin-top: 0.75rem;
  margin-left: 0.55rem;
}
